---
import AboutMe from '@/components/AboutMe.astro';
import BriefcaseIcon from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
import Experience from '@/components/Experience.astro';
import Tecnologias from '@/components/Tecnologias.astro';
import Layout from '@/layouts/Layout.astro';
import ProfileCheckIcon from '@/components/icons/ProfileCheck.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Hero from '@/components/Hero.astro';
import TitleSection from '@/components/TitleSection.astro';
---

<Layout 
	title="Porfolio de midudev - Desarrollador y Programador web con 15 años de experiencia"
	description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas.">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<Hero>
				<slot />
			</Hero>
		</SectionContainer>
		<SectionContainer id="experiencia" class="mb-8">
			<TitleSection>
				<BriefcaseIcon class="size-7"/>
				Experiencia Laboral
			</TitleSection>
			<Experience />
		</SectionContainer>
		<SectionContainer id="tecnologias" class="mb-8">
			<TitleSection>
				<CodeIcon class="size-7"/>
				Tecnologías
			</TitleSection>
			<Tecnologias />
		</SectionContainer>
		<SectionContainer id="sobre-mi">
			<TitleSection>
				<ProfileCheckIcon class="size-7"/>
				Sobre mí
			</TitleSection>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
