<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
    <p>
      ¡Hola! Soy Sergio Díez y entré en el mundo de la programación por casualidad, aunque pronto se convirtió en mi auténtica vocación. <strong>Estudié el Grado Superior de Desarrollo de Aplicaciones Web</strong>, donde di mis primeros pasos escribiendo código y aprendiendo distintas tecnologías.
    </p>

    <p>
      Durante mis prácticas pude conocer cómo funciona una pequeña empresa desde dentro y el <strong>esfuerzo</strong> y <strong>compromiso</strong> que se requiere para sacar los proyectos adelante. Fue una etapa muy enriquecedora que me ayudó a crecer tanto personal como profesionalmente.
    </p>

    <p>
      Más tarde, <strong>trabajé un año como programador en la Delegación del Gobierno de Madrid</strong>, una experiencia que me permitió ampliar mis conocimientos y consolidar mi perfil en el sector tecnológico.
    </p>
  </div>
  <img src="/foto_sobre_mi.jpg" class="rounded-full w-64 h-64 object-cover order-1 md:order-2">
</>