<a 
  class={`
    flex flex-col
    justify-center items-center
    text-sm md:text-sm lg:text-base
    transition
    hover:scale-110
  `}
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot/>
</a>