---

import SkillPill from '../components/SkillPill.astro';
import HtmlIcon from '../components/icons/Html.astro';
import CssIcon from '../components/icons/Css.astro';
import JavaScriptIcon from '../components/icons/JavaScript.astro';
import BootstrapIcon from '../components/icons/Bootstrap.astro';
import TailwindIcon from '../components/icons/TailwindCSS.astro';
import JQueryIcon from '../components/icons/JQuery.astro';
import AstroIcon from '../components/icons/AstroIcon.astro';
import SassIcon from '../components/icons/Sass.astro';
import PhpIcon from '../components/icons/Php.astro';
import JavaIcon from '../components/icons/Java.astro';
import VBAIcon from '../components/icons/VBA.astro';
import SymfonyIcon from '../components/icons/Symfony.astro';
import MySQLIcon from '../components/icons/MySQL.astro';
import NodeJSIcon from '../components/icons/Nodejs.astro';
import TypeScriptIcon from '../components/icons/TypeScript.astro';
import PythonIcon from '../components/icons/Python.astro';
import GitIcon from '../components/icons/Git.astro';
import GitHubIcon from '@/components/icons/GitHub.astro';
import DockerIcon from '@/components/icons/Docker.astro';
import VSCodeIcon from '@/components/icons/VSCode.astro';
import NpmIcon from '@/components/icons/Npm.astro';

---

<article class="grid grid-cols-2 gap-4 w-4/5">
  <div class="border border-gray-100/20 rounded-2xl p-6 text-center bg-gray-950/90">
    <h3 class="text-3xl font-semibold text-yellow-200/80 mb-7">Frontend</h3>
    <div class="grid grid-cols-3 gap-y-8 justify-items-center">
      <SkillPill>
        <HtmlIcon class="size-6 md:size-10 mb-2"/>
        HTML
      </SkillPill>
      <SkillPill>
        <CssIcon class="size-6 md:size-10 mb-2"/>
        CSS
      </SkillPill>
      <SkillPill>
        <JavaScriptIcon class="size-6 md:size-10 mb-2"/>
        JavaScript
      </SkillPill>
      <SkillPill>
        <BootstrapIcon class="size-6 md:size-10 mb-2"/>
        Bootstrap
      </SkillPill>
      <SkillPill>
        <TailwindIcon class="size-6 md:size-10 mb-2"/>
        TailwindCSS
      </SkillPill>
      <SkillPill>
        <JQueryIcon class="size-6 md:size-10 mb-2"/>
        JQuery
      </SkillPill>
      <SkillPill>
        <AstroIcon class="size-6 md:size-10 mb-2"/>
        Astro
      </SkillPill>
      <SkillPill>
        <SassIcon class="size-6 md:size-10 mb-2"/>
        SASS
      </SkillPill>
    </div>
  </div>
  <div class="border border-gray-100/20 rounded-2xl p-6 text-center bg-gray-950/90">
    <h3 class="text-3xl font-semibold text-yellow-200/80 mb-7">Backend</h3>
    <div class="grid grid-cols-3 gap-y-8 justify-items-center">
      <SkillPill>
        <PhpIcon class="size-6 md:size-10 mb-2"/>
        PHP
      </SkillPill>
      <SkillPill>
        <JavaIcon class="size-6 md:size-10 mb-2"/>
        Java
      </SkillPill>
      <SkillPill>
        <VBAIcon class="size-6 md:size-10 mb-2"/>
        Visual Basic
      </SkillPill>
      <SkillPill>
        <SymfonyIcon class="size-6 md:size-10 mb-2"/>
        Symfony
      </SkillPill>
      <SkillPill>
        <MySQLIcon class="size-6 md:size-10 mb-2"/>
        MySQL
      </SkillPill>
    </div>
  </div>
  <div class="border border-gray-100/20 rounded-2xl p-6 text-center bg-gray-950/90">
    <h3 class="text-3xl font-semibold text-yellow-200/80 mb-7">Aprendiendo</h3>
    <div class="grid grid-cols-3 gap-y-8 justify-items-center">
      <SkillPill>
        <NodeJSIcon class="size-6 md:size-10 mb-2"/>
        Node.js
      </SkillPill>
      <SkillPill>
        <TypeScriptIcon class="size-6 md:size-10 mb-2"/>
        TypeScript
      </SkillPill>
      <SkillPill>
        <PythonIcon class="size-6 md:size-10 mb-2"/>
        Python
      </SkillPill>
    </div>
  </div>
  <div class="border border-gray-100/20 rounded-2xl p-6 text-center bg-gray-950/90">
    <h3 class="text-3xl font-semibold text-yellow-200/80 mb-7">Herramientas</h3>
    <div class="grid grid-cols-3 gap-y-8 justify-items-center">
      <SkillPill>
        <GitIcon class="size-6 md:size-10 mb-2"/>
        Git
      </SkillPill>
      <SkillPill>
        <GitHubIcon class="size-6 md:size-10 mb-2"/>
        GitHub
      </SkillPill>
      <SkillPill>
        <DockerIcon class="size-6 md:size-10 mb-2"/>
        Docker
      </SkillPill>
      <SkillPill>
        <VSCodeIcon class="size-6 md:size-10 mb-2"/>
        VSCode
      </SkillPill>
      <SkillPill>
        <NpmIcon class="size-6 md:size-10 mb-2"/>
        npm
      </SkillPill>
    </div>
  </div>
</article>